.wrapper {
    padding: 20px;

    @media screen and (min-width: 414px) {
        padding: 40px;
    }
}

.content {
    gap: 40px;

    &_avatar {
        position: relative;

        .container {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        width: 380px;
        margin: 0 auto;
    }
}

.content, .content_avatar {
    display: flex;
    flex-direction: column;
}

.content_avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .container {
        width: 120px;
        height: 120px;
    }

    .username {
        font-size: 1.1rem;
        color: var(--text);
        font-weight: 500;
    }
}